.App {
  text-align: center;
  min-height: 100vh;
  background-color: #e8e7e5;
}

.App-container {
  background-color: #ffffff;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0f1430;
}